/* Control/main areas/general control*/
* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    /* padding-top: 25px; */
}

main {
    display:flex;
    flex: 1 1 100%;
    flex-grow:2;
    flex-direction: column;
    min-height: 80px;
    flex-wrap: wrap;
    margin-left: 100px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

h2 {
    border-right: 7px solid black;
    width: 200px;
    font-style: italic;
    font-size: 40px;
}


/* Header settings */
.main-header {
    /* position: fixed; */
    display: flex;
    height: 90px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: coral;
    color: #ffffff;
    border-bottom: 5px solid black;
}

.main-header h1 {
    display: inline-flex;
    font-size: 36px;
    line-height: 30px;
    /* background-color: lightblue; */
    padding: 25px 15px 50px 15px;
}

.main-header nav {
    flex-grow: .95;
    text-align: right;
    background-color: coral;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.main-header nav ul {
    display: inline-flex;
    padding-top: 25px;
}

.main-header nav ul li {
    text-align: right;
    margin: 0 15px;
}


/* Background image */
.paper {
    height: 250px;
    width: 107%;
    margin-bottom: 25px;
    background-image: url("../images/paper.jpg");
    background-size: cover;
    background-position: center;
    margin-left: -100px;
}

.paper h2 {
    width: fit-content;
    margin-left: 1100px;
    margin-top: 175px;
    border: 2px solid white;
    background-color: lightblue;
    
}


/* About me */
.about {
    /* height: 350px;
    width: 1375px; */
    margin-top: 25px;
}

/* .about h2 {
    height: 100%;
    float: left;
    margin-right: 25px;
    padding: 120px 0;
} */

.about p {
    /* display: inline; */
    font-size: 21px;
}


/* My work */
.portfolio {
    /* display: inline; */
    /* width: 1375px; */
    margin: 20px 0 0 0;
}
.portfolio h2 {
    /* padding: 170px 0; */
    /* float: left; */
    /* height: 1373px; */
    padding: auto 0 auto 0;
}

.my-work-box {
    margin-left: auto;
    margin-right: auto;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}

.card {    
    margin: 10px auto 0 auto;
    display: inline;
    text-align: center;
    color: white;
}

.card-header {
    display: block;
    width: 200px;
    background-color: lightblue;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


/* Contact me */
.contact {
    display: inline-block;
    margin-top: 20px;
    width: 100vw;
}

.contact h2 {
    float: left;
}

.contact nav {
    flex-grow: 2;
    display: inline-flex;
    margin-top: 30px;
}

.contact nav ul {
    display: flex;
    align-items: stretch;
    width: 1155px;
    font-size: 20px;
    justify-content: space-evenly;
}

.contact nav ul li {
    display: block;
    flex: 0 1 auto;
    text-decoration: underline;
    font-weight: bold;
}


/* Footer */
footer {
    height: 90px;
    width: 100vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: coral;
    color: #ffffff;
    border-top: 5px solid black;
    margin-top: 25px;
}

footer h2 {
    font-size: 20px;
    width: fit-content;
    padding: 35px 0;
    margin: auto;
    border: none;
} 

#project-1 {
    height: 600px;
    width: 900px;
}

#project-2 {
    width: 500px;
    height: 250px
}

#project-3 {
    width: 500px;
    height: 250px;
}

/* Meadias */
@media screen and (max-width: 992px) {
    main {
        margin-left: 66px;
    }

    header,
    .about,
    .card,
    .contact {
      height: 120px;
      font-size: 25px;
    }
}  
  
@media screen and (max-width: 768px) {
      main {
          margin-left: 33px;
      }
      
      header,
      .about,
      .card,
      .contact {
        width: 50%;
      }
}  
 
@media screen and (max-width: 576px) {
      main {
          margin-left: 0;
      }
      
      header,
      .about,
      .card,
      .contact {
        width: 100%;
      }
}
