* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

main {
    display:flex;
    flex: 1 0 100%;
    flex-grow:2;
    flex-direction: column;
    min-height: 80px;
    flex-wrap: wrap;
    margin-left: 100px;
}

.main-header {
    position: fixed;
    display: flex;
    height: 90px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: coral;
    color: #ffffff;
    border-bottom: 5px solid black;
}


.main-header h1 {
    display: inline-flex;
    font-size: 36px;
    line-height: 30px;
    background-color: lightblue;
    padding: 25px 15px 50px 15px;
}

.main-header nav {
    flex-grow: .95;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.main-header nav ul {
    display: inline-flex;
    list-style-type: none;
    padding-top: 25px;
}

.main-header nav ul li {
    list-style-type: none;
    text-align: right;
    margin: 0 15px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.paper {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

h2 {
    border-right: 7px solid black;
    width: 200px;
    font-style: italic;
    font-size: 40px;
}

.about {
    height: 350px;
    /* border: 10px dashed violet; */
    width: 1375px;
}

.about h2 {
    height: 100%;
    float: left;
    margin-right: 25px;
    padding: 120px 0;
}

.about p {
    display: inline;
    font-size: 21px;
}

.portfolio {
    display: inline;
    width: 1375px;
    /* border: 10px dashed violet; */
    margin: 20px 0 0 0;
}
.portfolio h2 {
    padding: 170px 0;
    float: left;
    height: 1373px;
    padding: auto 0 auto 0;
}

.my-work-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 10psx ridge gray; */
}

.card {    
    margin: 10px auto 0 auto;
    /* border: 10px dashed red; */
    display: inline;
    text-align: center;
    color: white;
}

.card-header {
    /* border: 10px dotted yellow; */
    display: block;
    width: 200px;
    background-color: lightblue;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.contact {
    display: inline-block;
    /* border: 10px dashed violet; */
    margin-top: 20px;
    width: 1375px;
}

.contact h2 {
    float: left;
}

.contact nav {
    flex-grow: 2;
    display: inline-flex;
    margin-top: 30px;
}

.contact nav ul {
    display: flex;
    align-items: stretch;
    width: 1155px;
    font-size: 20px;
    justify-content: space-evenly;
}

.contact nav ul li {
    display: block;
    flex: 0 1 auto;
    text-decoration: underline;
    font-weight: bold;
}

footer {
    height: 90px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: coral;
    color: #ffffff;
    border-top: 5px solid black;
    margin-top: 25px;
}

footer h2 {
    font-size: 20px;
    width: fit-content;
    padding: 35px 0;
    margin: auto;
    border: none;
} 

@media screen and (max-width: 992px) {
    header {
      height: 120px;
      font-size: 25px;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    header {
      height: 200px;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    header {
      height: 300px;
    }
  }
